<!doctype html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Welcome to Grails</title>
</head>
<body>
   <div>
       <h1>Oficina DevOps</h1>
       <h3><strong>
          Faculdade Catolica do Tocantins
       </strong></h3>
   </div>

</body>
</html>
